.side_bar_menu {
  position: fixed;
  top: 0;
  left: 0;
  text-align: justify;
  height: 92vh;
  box-shadow: inset 0 0 0.2rem gray;
  background-color: #eee;
}
.side_bar {
}
.side_bar-marginLeft {
}
.textAlign-justify {
  text-align: justify;
}
.category {
  display: flex;
  justify-content: space-between;
}
.edit_category {
  display: flex;
  justify-content: space-between;
}