.side_bar_menu {
  position: fixed;
  top: 0;
  left: 0;
  text-align: justify;
  height: 92vh;
  box-shadow: inset 0 0 0.2rem gray;
  background-color: #eee;
}
.balance {
  margin-bottom: 0.75rem;
}
.side_bar {
}
.side_bar-marginLeft {
}
.textAlign-justify {
  text-align: justify;
}
.category {
  display: flex;
  justify-content: space-between;
}
.edit_category {
  display: flex;
  justify-content: space-between;
}
.expanded_category p.expanded {
  font-weight: 600;
  font-size: 1.1rem;
}
.checked_category p.checked {
  font-weight: 600;
  font-size: 1.1rem;
}
div.edit_category span {
  font-weight: 600;
  font-size: 1.75rem;
}
.actions_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.75rem;
}
.actions_btn-child {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.actions_btn .category_icon {
  font-size: 1.25rem;
  margin-right: 0.25rem;
  margin-top: 0;
  padding-top: 0;
  top: 0;
}
.actions_btn-child span.title_btn {
}
.actions_btn > span {
  font-size: 1.25rem;
}
