.side_bar_menu {
  position: fixed;
  top: 0;
  left: 0;
  text-align: justify;
  height: 92vh;
  box-shadow: inset 0 0 0.2rem gray;
  background-color: #eee;
}
.side_bar {
}
.side_bar-marginLeft {
}
.textAlign-justify {
  text-align: justify;
}
.img {
  image-rendering: pixelated;
  width: 4rem;
  height: 4rem;
  margin: 0 0 0 1.25rem;
  object-fit: contain;
  filter: drop-shadow(0 0 5px blue);
}
.textAlign-center {
  text-align: justify;
}
.width-10 {
  width: 10rem;
}
.width-90 {
  width: 90rem;
}
.width-5 {
  width: 5rem;
}
.width-15 {
  width: 15rem;
}
